<div class="form-group required">
      <label class="control-label  required" for="id_rule_menu">
          <span class="field-label">Rule</span></label>
      <span class="hz-icon-required fa fa-asterisk"></span>
    <div class=" ">
<div class="themable-select dropdown form-control select-initialized" xmlns="http://www.w3.org/1999/html"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="dropdown-title">SSH</span><span class="fa fa-caret-down"></span></button><ul class="dropdown-menu"><li data-original-index="20" data-toggle="tooltip" data-placement="top"><a data-select-value="ssh">SSH</a></li></ul><select id="id_rule_menu" name="rule_menu" data-slug="rule_menu" class="form-control switchable"><option value="ssh">SSH</option></select></div>
    </div>
</div>
<div class="form-group required">
      <label class="control-label  required" for="id_remote">
          <span class="field-label">Remote</span></label>
      <span class="hz-icon-required fa fa-asterisk"></span>
  <span class="help-icon" data-toggle="tooltip" data-placement="top" title="To specify an allowed IP range, select &quot;CIDR&quot;. To allow access from all members of another security group select &quot;Security Group&quot;.">
    <span class="fa fa-question-circle"></span>
  </span>
    <div class=" ">
<div class="themable-select dropdown form-control select-initialized" xmlns="http://www.w3.org/1999/html"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="dropdown-title">CIDR</span><span class="fa fa-caret-down"></span></button><ul class="dropdown-menu"><li data-original-index="0" data-toggle="tooltip" data-placement="top"><a data-select-value="cidr">CIDR</a></li></ul></div>
    </div>
</div>
<div class="form-group ">
      <label class="control-label  " for="id_cidr">CIDR</label>
  <span class="help-icon" data-toggle="tooltip" data-placement="top" title="Classless Inter-Domain Routing (e.g. 192.168.0.0/24, or 2001:db8::/128)">
    <span class="fa fa-question-circle"></span>
  </span>
    <div class=" ">
          <input class="form-control switched" data-remote-cidr="CIDR" data-switch-on="remote" id="id_cidr" name="cidr" type="text" value="0.0.0.0/0">
    </div>
</div>
