<div class="form-group ">
      <label class="control-label  " for="id_domain">
          <span class="field-label">Domain</span></label>
      <span class="hz-icon-required fa fa-asterisk"></span>
    <div class=" ">
          <input value="default" autofocus="autofocus" class="form-control" id="id_domain" name="domain" type="text">
    </div>
</div>
