<ul id="sidebar-accordion-project" class="nav collapse panel-collapse in">
                    <div id="sidebar-accordion-project-default" class="list-group collapse 
                         in
                        ">
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/api_access/" target="_self" tabindex="1">
                      API Access
                    </a>
                    </div>
                  <li class="panel openstack-panel-group">
                    <a data-toggle="collapse" data-parent="#sidebar-accordion-project" data-target="#sidebar-accordion-project-compute" aria-controls="sidebar-accordion-project-compute" class="collapsed">
                      Compute
                      <span class="openstack-toggle fa pull-right"></span>
                    </a>
                    <div id="sidebar-accordion-project-compute" class="list-group collapse 
                        ">
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/" target="_self" tabindex="1">
                      Overview
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/instances/" target="_self" tabindex="2">
                      Instances
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/images/" target="_self" tabindex="3">
                      Images
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/key_pairs/" target="_self" tabindex="4">
                      Key Pairs
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/server_groups/" target="_self" tabindex="5">
                      Server Groups
                    </a>
                    </div>
                  </li>
                  <li class="panel openstack-panel-group">
                    <a data-toggle="collapse" data-parent="#sidebar-accordion-project" data-target="#sidebar-accordion-project-volumes" aria-controls="sidebar-accordion-project-volumes" class="collapsed">
                      Volumes
                      <span class="openstack-toggle fa pull-right"></span>
                    </a>
                    <div id="sidebar-accordion-project-volumes" class="list-group collapse 
                        ">
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/volumes/" target="_self" tabindex="1">
                      Volumes
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/snapshots/" target="_self" tabindex="2">
                      Snapshots
                    </a>
                    </div>
                  </li>
                  <li class="panel openstack-panel-group">
                    <a data-toggle="collapse" data-parent="#sidebar-accordion-project" data-target="#sidebar-accordion-project-network" aria-controls="sidebar-accordion-project-network">
                      Network
                      <span class="openstack-toggle fa pull-right"></span>
                    </a>
                    <div id="sidebar-accordion-project-network" class="list-group collapse 
                         in
                        ">
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/network_topology/" target="_self" tabindex="1">
                      Network Topology
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel active" href="/project/networks/" target="_self" tabindex="2">
                      Networks
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/routers/" target="_self" tabindex="3">
                      Routers
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/security_groups/" target="_self" tabindex="4">
                      Security Groups
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/ngloadbalancersv2/" target="_self" tabindex="5">
                      Load Balancers
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/floating_ips/" target="_self" tabindex="6">
                      Floating IPs
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/firewalls/" target="_self" tabindex="7">
                      Firewalls
                    </a>
                    </div>
                  </li>
                  <li class="panel openstack-panel-group">
                    <a data-toggle="collapse" data-parent="#sidebar-accordion-project" data-target="#sidebar-accordion-project-orchestration" aria-controls="sidebar-accordion-project-orchestration" class="collapsed">
                      Orchestration
                      <span class="openstack-toggle fa pull-right"></span>
                    </a>
                    <div id="sidebar-accordion-project-orchestration" class="list-group collapse 
                        ">
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/stacks/" target="_self" tabindex="1">
                      Stacks
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/resource_types/" target="_self" tabindex="2">
                      Resource Types
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/template_versions/" target="_self" tabindex="3">
                      Template Versions
                    </a>
                    <a class="openstack-spin list-group-item openstack-panel " href="/project/template_generator/" target="_self" tabindex="4">
                      Template Generator
                    </a>
                    </div>
                  </li>
</ul>
