<div class="col-sm-6">
  <input id="id_address_source" name="address_source" type="hidden">
  <input id="id_subnetpool" name="subnetpool" type="hidden">
  <input id="id_prefixlen" name="prefixlen" type="hidden">
<div class="form-group ">
      <label class="control-label  " for="id_subnet_name">
          <span class="field-label">Subnet Name</span></label>
    <div class=" ">
          <input class="form-control" id="id_subnet_name" maxlength="255" name="subnet_name" type="text">
    </div>
</div>
<div class="form-group ">
      <label class="control-label  " for="id_cidr">
          <span class="field-label">Network Address</span></label><span class="help-icon" data-toggle="tooltip" data-placement="top" title="Network address in CIDR format (e.g. 192.168.0.0/24, 2001:DB8::/48)"><span class="fa fa-question-circle"></span></span>
    <div class=" ">
          <input value="192.168.0.0/24" class="form-control switched" data-source-manual="Network Address" data-switch-on="source" id="id_cidr" name="cidr" type="text">
    </div>
</div>
<div class="form-group ">
      <label class="control-label  " for="id_ip_version">
          <span class="field-label">IP Version</span></label>
    <div class=" ">
<div class="themable-select dropdown form-control select-initialized" xmlns="http://www.w3.org/1999/html"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="dropdown-title">IPv4</span><span class="fa fa-caret-down"></span></button><ul class="dropdown-menu"><li data-original-index="0" data-toggle="tooltip" data-placement="top"><a data-select-value="4">IPv4</a></li><li data-original-index="1" data-toggle="tooltip" data-placement="top"><a data-select-value="6">IPv6</a></li></ul></div>
    </div>
</div>
<div class="form-group ">
      <label class="control-label  " for="id_gateway_ip">
          <span class="field-label">Gateway IP</span></label>
  <span class="help-icon" data-toggle="tooltip" data-placement="top" title="IP address of Gateway (e.g. 192.168.0.254) The default value is the first IP of the network address (e.g. 192.168.0.1 for 192.168.0.0/24, 2001:DB8::1 for 2001:DB8::/48). If you use the default, leave blank. If you do not want to use a gateway, check 'Disable Gateway' below.">
    <span class="fa fa-question-circle"></span>
  </span>
    <div class=" ">
          <input class="form-control switched" data-source-manual="Gateway IP" data-switch-on="gateway_ip" id="id_gateway_ip" name="gateway_ip" type="text">
    </div>
</div>
<div class="form-group ">
    <div class="">
    <div class="themable-checkbox">
    <input class="switchable" data-hide-on-checked="true" data-slug="gateway_ip" id="id_no_gateway" name="no_gateway" type="checkbox">
    <label for="id_no_gateway">
       <span class="control-label">Disable Gateway</span>
    </label>
</div>
    </div>
</div>
</div>
