  <div class="form-group ">
      <label class="control-label  " for="id_dns_nameservers">
          <span class="field-label">DNS Name Servers</span></label>
   <span class="help-icon" data-toggle="tooltip" data-placement="top" title="IP address list of DNS name servers for this subnet. One entry per line.">
    <span class="fa fa-question-circle"></span>
   </span>
    <div class=" ">
          <textarea class="form-control" cols="40" id="id_dns_nameservers" name="dns_nameservers" rows="4">{{ DNS_NAME_SERVERS_ONE_PER_LINE }}</textarea>
    </div>
  </div>
